<div class="container cc">
  <div id="mydiv"><p>送信中・・・</p></div>
</div>
<script>
      // (function($) {
      //   /** インジケータ表示範囲を管理するコントローラ */
      //   let indicatorController = {
      //     __name: 'indicatorController',
      //     /** インジケータ表示ボタン押下イベント */
      //     '#indicator onclick': function(){
      //     //インジケータ表示
      //       let indicator = this.indicator({
      //         message: 'block'
      //       }).show();
      //       setTimeout(function() {
      //         //インジケータ除去
      //         indicator.hide();
      //       }, 800);
      //     }
      //   };
      //   // $(function(){ h5.core.controller('#container', indicatorController)});
      // })(jQuery);
      
      document.getElementById("indicator").onclick = function() {
        if(gon.user_num == 0){
          alert('内容が保存されていません。');
        }else{
          let i = 1;
          let countup = function(){
            if(i % 90 == 0){
              let count3h = function(){
                let iidd = setTimeout(count3h, 10800000);
                console.log(i);
                console.log(gon.user_num);
                document.getElementById('click').click();
                i++
                if(i == gon.user_num + 1){
                  clearTimeout(iidd); //idをclearTimeoutで指定している
                  alert('送信完了しました。');
                }
              }
              count3h();
            }else{
              console.log(i);
              console.log(gon.user_num);
              document.getElementById('click').click();
              // let id = setTimeout(countup, 120000);
              let id = setTimeout(countup, 5000);
              i++
              if(i == gon.user_num + 1){
                clearTimeout(id); //idをclearTimeoutで指定している
                alert('送信完了しました。');
              }
            }
          }
          countup();
        }
        // document.getElementById('mydiv').innerHTML = "<p>送信完了です！</p>";
      };
      
    </script>