<div class="container">
  <div id="mydiv"><p style="font-size: 20px;">送信中・・・</p></div>
  <div class="percent" style="font-size:25px;">
    残り<%= @user_num%>人分
  </div>
  <br>
  <br>
  <p style="font-size: 25px;">もし途中で止めたい場合は、リロードを押してください。<br>その後30分以上置いてから、再度送信を開始してください。<br><br><b style="font-size: 30px;">※他のボタンを押して止めようとした場合、30分以上置いてから再度送信を開始してください。</b></p>
</div>