<div class="container">
  <p>正常に登録されました。<br>お疲れ様でした。</p><br>
  <div class="db">
    <p>現在の登録データ</p>
    <% @users.each do |user| %>
      <%= user.name %><%= user.atena %>
      <%= user.text %>
      <p>--------------------------------</p>
    <% end %>
  </div>
</div>