<div class="container">
  <div class="chart">
    <%= column_chart @data, xtitle: "日付", ytitle: "送信数", width: "600px", height: "400px" %>
  </div>
  <%# <% @items.each do |item| %>
  <%# <%= item %>
  <%# <% end %>
</div>